body{font-family: 'Roboto', sans-serif;
    background-color: white;
    color:var(--title-text-color);
}
.button{
    cursor: pointer;
  }  
.section{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
      padding: 94px 0;
      
    }
}